node_modules/
psd/
.idea/
.DS_Store
Thumbs.db
.idea
*.sublime*
*.log
*.psd
*.ai
*.pdf
*.doc
*/**/.idea/
*/**/node_modules/
*/**/bower_components/
*/**/.vscode
projects/*/**/package.json
projects/*/**/gulpfile.js
projects/*/**/.gitignore
projects/*/**/bower.json
projects/*/**/debug.log