.main-footer {
}
.main-footer__social-list {
	@include no-list();
	font-size: 0px;
	margin-bottom: 2.5rem;
}
.main-footer__social-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 1.5rem;
	&:last-of-type {
		margin-right: 0;
	}
}
.main-footer__social-link {
	display: block;
	width: 35px;
	height: 35px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	position: relative;
	&:hover {
		border: 1px solid rgb(255, 255, 255);
		& .main-footer__social-icon {
			opacity: 1;
		}
	}
}
.main-footer__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.5;

  &--fb {
	width: 7px;
	height: 19px;
	fill: #fff;
  }
  &--github {
	width: 19px;
	height: 19px;
	fill: #fff;
  }
  &--vk {
	width: 21px;
	height: 13px;
	fill: #fff;
  }
}
@keyframes heart {
	0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
.main-footer__copyright-item {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-family: "open_sanslight", Arial, sans-serif;
	line-height: 18px;
	color: #fff;
}
.main-footer__copyright-icon-block {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  position: relative;
  margin: -5px 5px 0 5px;
}
.main-footer__copyright-icon {
  &--heart {
	width: 28px;
	height: 26px;
	fill: #ff5252;
	animation: heart 1.3s infinite;
  }

}