.title {
	text-align: center;
	margin-top: 0;
	font-size: 2rem;
	color: #222;
	text-transform: uppercase;
	font-family: "open_sansbold", Arial, sans-serif;
	line-height: 2.2rem;
	position: relative;
	padding-bottom: 3rem; 
	margin-bottom: 3rem;
	&::after {
		position: absolute;
		content: "";
		width: 7rem;
		height: 1px;
		background-color: rgba(135, 135, 135, 0.5);
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}